<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    <title>Edit Room</title>
</head>  
 
<body>
	 <div class="container">
	    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
	</div>
 
	 <div layout:fragment="content" class="container" >
		<div class="col-xs-6 col-md-6">
             <h3>
                 <a href="/room" class="btn btn-primary"><span class="glyphicon glyphicon-list"></span>Go to Rooms List</a>
             </h3>
             <h2>Edit Room</h2>
                <form action="/updateRoom">
                    <div class="form-group">
                        <label for="type">Room Type: </label>
                        <input type="text" class="form-control" name="type" th:value="${room.type}" />
                    </div>
                    <div class="form-group">
                        <label for="capacity">Room Capacity: </label>
                        <input type="number" class="form-control" name="capacity" th:value="${room.capacity}" />
                    </div>
                    <div class="form-group">
                        <label for="price">Room Price: </label>
                        <input type="number" step="any" class="form-control" name="price" th:value="${room.price}" />
                    </div>
                    <input type="hidden" name="id" th:value="${room.id}" />
                    <button type="submit" class="btn btn-success">Save</button>
                </form>
         </div>
     </div>

<footer>
     <div class="container">
		<div class="footer">
		</div>
	</div>
</footer>

</body>
</html>